@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$--orange: #FF4600;
$--yellow: #FCB718;
$--black: #333;
$--white: #fff;
$--light-color: #666;
$--light-bg: #f4f4f4;
$--box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
$--border: 0.1rem solid rgba(0,0,0,0.3);
$--gradient: linear-gradient(90deg, $--yellow, $--orange);
$--gradient: linear-gradient(90deg, $--orange, $--yellow);

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    margin: 0; padding: 0;
}

::selection{
    background-color: $--black;
    color: $--white;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: $--white;
}

::-webkit-scrollbar-thumb{
    background-color: $--black;
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: $--white;

    &.active{
        transition: 0.2s linear;
        box-shadow: $--box-shadow;
    }

    .flex{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            img{
                height: 8rem;
            }
        }

        .navbar{
            a{
                margin-left: 2rem;
                font-size: 2rem;
                color: $--black;
    
                &:hover{
                    color: $--orange;
                }
            }
        }
    }
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: $--black;
    display: none;
}

.home{
    min-height: 100vh;
    background: url('../img/bg_novo.png') no-repeat;
    background-size: cover;
    background-position: center;
    /*background-position-y: -35rem;*/
    /*background-position-x: center;*/
    text-align: center;
    padding: 2rem;

    .home-img{
        height: 30rem;
        border: 1px solid red;
        margin-top: 5vh;
        transition: 0.2s linear;
    }
}

/* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: 0.2s linear;

        &.fa-times{
            transform: rotate(90deg);
        }
    }

    .header{
        position: relative;

        .flex{

            .navbar{
                position: absolute;
                top: 99%; left: 0; right: 0;
                background-color: $--white;
                border-top: $--border;
                border-bottom: $--border;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: 0.2s linear;

                a{
                    display: block;
                    margin: 2rem;
                }

                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}