@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$--orange: #FF4600;
$--yellow: #FCB718;
$--black: #333;
$--white: #fff;
$--light-color: #666;
$--light-bg: #f4f4f4;
$--box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
$--border: 0.1rem solid rgba(0,0,0,0.3);
$--gradient: linear-gradient(90deg, $--yellow, $--orange);
$--gradient: linear-gradient(90deg, $--orange, $--yellow);

*{
    font-family: 'Montserrat', sans-serif;
}
